@model MvcMovie.Models.MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] =  "Home Page";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

    @if (Model !=null)
    {
    <h1>List of Comments</h1>
    <table class="table" id="ListComments">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th>
                    Release Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    }

    <h1>Comments</h1>
    <p>Talk about the movie</p>
    <label class="control-label" id="valiToken" type="hidden">@Html.AntiForgeryToken()</label>
    <input type="hidden" name="comMovieId" value="@Html.DisplayFor(modelItem => modelItem.Id)">
    <div class="form-group">
        <label class="control-label">Title</label>
        <input class="form-control" id="comTitle"/>
    </div>
    <div class="form-group">
        <label class="control-label">Content</label>
        <input class="form-control" id="comContent"/>
    </div>
    <div class="form-group">
        <input type="button" value="Send" class="btn btn-primary" id="buttonComment"/>
    </div>
