@model MvcMovie.Models.CommentViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] =  "Home Page";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

    @if (Model !=null)
    {
    <h1>List of Comments</h1>
    <table class="table" id="ListComments">
        <thead>
            <tr>
                <th>
                    <a asp-action="Comment"> @Html.DisplayNameFor(model => model.Title)</a>
                </th>
                <th>
                    <a asp-action="Comment"> @Html.DisplayNameFor(model => model.Content)</a>
                </th>
                <th>
                    <a asp-action="Comment"> @Html.DisplayNameFor(model => model.ReleaseDate)</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    }

    <h1>Comments</h1>
    <p>Talk about the movie</p>
    <label class="control-label" id="valiToken" type="hidden">@Html.AntiForgeryToken()</label>
    <input type="hidden" name="comMovieId" value="@Html.DisplayFor(modelItem => modelItem.movie.Id)">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" id="comTitle"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <input asp-for="Content" class="form-control" id="comContent"/>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="button" value="Send" class="btn btn-primary" id="buttonComment"/>
    </div>
