@model MvcMovie.Models.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Rating)
        </td>
    </tr>
    </tbody>
</table>
<input name="detailsMovieId" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.Id)" hidden="true" >
<input name="detailsMovieTitle" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.Title)" hidden="true" >
<input name="detailsMovieReleaseDate" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.ReleaseDate)" hidden="true" >
<input name="detailsMovieGenre" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.Genre)" hidden="true" >
<input name="detailsMoviePrice" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.Price)" hidden="true" >
<input name="detailsMovieRating" class="control-label" value="@Html.DisplayFor(modelItem => modelItem.Rating)" hidden="true" >
<label class="control-label" id="valiToken" type="hidden">@Html.AntiForgeryToken()</label>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" id="nameDetails" />
    <span asp-validation-for="Name" class="text-danger" ></span>
</div>
<div class="form-group">
    <label asp-for="Adress" class="control-label"></label>
    <input asp-for="Adress" class="form-control" id="adressDetails" />
    <span asp-validation-for="Adress" class="text-danger" ></span>
</div>
<div class="form-group">
    <input value="Send" type="button" class="emailBtm" id="emailDetailsBtm" />
</div>

@Html.ActionLink("Back to List", "Index")
