@model MvcMovie.Models.MovieViewModel
@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <output name="detailsMovieId" class="label" >@Html.DisplayFor(modelItem => modelItem.Id)</label>
        </td>
        <td>
            <output name="detailsMovieTitle" class="label" >@Html.DisplayFor(modelItem => modelItem.Title)</label>
        </td>
        <td>
            <output name="detailsMovieReleaseDate" class="label" >@Html.DisplayFor(modelItem => modelItem.ReleaseDate)</label>
        </td>
        <td>
            <output name="detailsMovieGenre" class="label" >@Html.DisplayFor(modelItem => modelItem.Genre)</label>
        </td>
        <td>
            <output name="detailsMoviePrice" class="label" >@Html.DisplayFor(modelItem => modelItem.Price)</label>
        </td>
        <td>
            <output name="detailsMovieRating" class="label" >@Html.DisplayFor(modelItem => modelItem.Rating)</label>
        </td>
    </tr>
    </tbody>
</table>
<label class="control-label" id="valiToken" type="hidden">@Html.AntiForgeryToken()</label>
<div class="form-group">
    <label class="label">Name</label>
    <input class="form-control" id="nameDetails" />
</div>
<div class="form-group">
    <label class="label">Adress</label>
    <input class="form-control" id="adressDetails" />
</div>
<div class="form-group">
    <input value="Send" type="button" class="emailBtm" id="emailDetailsBtm" />
</div>

@Html.ActionLink("Back to List", "Index")
