@model MvcMovie.Models.Movie
@{
    ViewData["Title"] = "Details";
}

@if (Model != null)
{
    <table class="table">
        @Html.Partial("../Shared/_HeaderListMovies")
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
        </tr>
        </tbody>
    </table>
}
@Html.ActionLink("Back to List", "Index")
