@model MvcMovie.Models.Movie
@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Rating)
            </td>
        </tr>
    </tbody>
</table>
@Html.ActionLink("Back to List", "Index")
